<h2>Reactivos: <small>Dinámicos</small></h2>
<hr>


<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">

  <!-- Nombre -->
  <div class="mb-3 row">
    <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre de la persona...">
      <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')">Este campo es obligatorio.</span>
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label for="nombre" class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input class="form-control" placeholder="Agregar favorito..."> <!-- (keyup.enter)=""> -->
        <button type="button" class="btn btn-outline-primary"> <!-- (click)="agregarJuego()"> -->Agregar</button>
      </div>
    </div>
  </div>

  <!-- Lista de Juegos Favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">

      <!--       <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">
        <input class="form-control">
        <button type="button" class="btn btn-outline-danger" (click)="eliminar(i)">Borrar</button>
      </div> -->

    </div>
  </div>


  <!-- Guardar -->
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary float-end" type="submit">Guardar</button>
    </div>
  </div>
</form>


<div class="row">
  <div class="col">

    <span>Valid:</span>
    <pre>{{ miFormulario.valid}}</pre>

    <span>Pristine (cambiar valor campo):</span>
    <pre>{{ miFormulario.pristine}}</pre>

    <span>Touched (entrar en un campo):</span>
    <pre>{{ miFormulario.touched}}</pre>

    <span>Valor:</span>
    <pre>{{ miFormulario.value|json}}</pre>


  </div>
</div>